html {
	font-size: var(--font-size-base);
}

body {
	background-color: var(--color-background);
	padding: var(--spacing-small);
	display: flex;
	flex-flow: row nowrap;
	gap: var(--spacing-larger);
}

.menu {
	border-right: solid  1px var(--color-tertiary);
	padding-right: var(--spacing-small);
}

.menu__button {
	color: var(--color-inactive);
}

.menu__button:hover,
.menu__button--active {
	color: var(--color-primary);
}

.component {
	display: none;
	flex-flow: column nowrap;
	gap: var(--spacing-large);
}

.component--visible {
	display: flex;
}

.component-state {
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	gap: var(--spacing-small);
}

.component-state--interactive {
	margin-bottom: 1rem;
}

.component-state__name {
	color: var(--color-inactive);
}

.component-state--interactive .component-state__name {
	color: var(--color-accent-2);
}

.font-size-smaller {
	font-size: var(--font-size-smaller);
}