:root {
	--font-size-base: 30px;
	--font-size-smaller: 20px;

	--color-background: #FBFBFB;

	--color-primary: black;
	--color-secondary: #EBEBEB;
	--color-tertiary: #DCDCDC;
	--color-inactive: #A2A2A2;

	--color-accent-1: #A7DFFF;
	--color-accent-2: #FF9A9A;
	--color-accent-3: #F8DB78;

	--color-accent-darker: #68C1F3;
	--color-accent-even-darker: #2399DB;
	--color-accent-darkest: #136DA0;

	--border-radius: 12px;

	--spacing-x-small: 0.5rem;
	--spacing-small: 1rem;
	--spacing-medium: 1.5rem;
	--spacing-large: 2rem;
	--spacing-larger: 3rem;
}