.accordion {
	border-radius: var(--border-radius);
	background: var(--color-secondary);
	overflow: hidden;
	min-width: 20em;
}

.accordion__button {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	width: 100%;
	padding: var(--spacing-x-small);
}

.accordion__button::before {
	content: '';
	display: inline-block;
	width: 1.2rem;
	height: 1rem;
	background: url('../../assets/images/arrow.png') no-repeat bottom;
	background-size: contain;
	margin-right: 0.4rem;
}

.accordion__content {
	display: none;
	padding: var(--spacing-x-small);
}

.accordion--hover .accordion__button,
.accordion--expanded-hover .accordion__button,
.component-state--interactive .accordion__button:hover {
	background-color: var(--color-accent-1);
}