.alert {
	position: relative;

	display: flex;
	align-items: center;
	gap: var(--spacing-x-small);

	width: 587px;
	height: 65px;

	font-size: 17px;

	border-radius: var(--border-radius);
	background-color: var(--color-accent-1);
}

.alert::before {
	content: '';
	display: inline-block;

	width: 1.5rem;
	height: 1.5rem;

	margin-left: 10px;

	background: url('../../assets/images/information-icon.png') no-repeat bottom;
	background-size: contain;
}

.alert__button {
	position: absolute;

	width: 1.5rem;
	height: 1.5rem;

	border-radius: var(--border-radius-max);
	
	right: 10px;
}

.alert__button img {
	width: 80%;
	height: 80%;
}

.alert--hover .alert__button {
	background-color: var(--color-accent-darker);
}

.alert--closed {
	display: none;
}