.button {
	width: 260px;
	height: 80px;
	background-color: var(--color-accent-1);
	border-radius: var(--border-radius);
}

.button--hover {
	background-color: var(--color-accent-darker);
}

.button--active {
	background-color: var(--color-accent-even-darker);
}