.checkbox {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--spacing-small);
}

.checkbox__input {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 55px;
	height: 55px;
	background-color: none;
	border: solid 4px var(--color-accent-darker);
	border-radius: var(--border-radius);
}

.checkbox--unchecked-hover {
	border-color: var(--color-accent-even-darker);
}

.checkbox--checked {
	background-color: var(--color-accent-darker);
}

.checkbox--checked-hover {
	border-color: var(--color-accent-even-darker);
	background-color: var(--color-accent-even-darker);
}

.checkbox--checked::before,
.checkbox--checked-hover::before {
	color: white;
	content: '\2713';
	font-size: 40px;
}