.switch {
	display: flex;
	align-items: center;
	gap: var(--spacing-small);
}

.switch__container {
	display: flex;
	align-items: center;

	width: 147px;
	height: 63px;
	padding: 0px 5px 0px 5px;

	border-radius: var(--border-radius-max);
	background-color: var(--color-tertiary);
}

.switch__slider {
	width: 55px;
	height: 55px;

	border-radius: var(--border-radius-max);
	background-color: white;
	order: 1;
}

.switch__slider--off {
	justify-content: flex-start;
}

.switch__slider--on {
	justify-content: flex-end;
}

.switch--off-hover {
	background-color: var(--color-inactive);
}

.switch--on {
	background-color: var(--color-accent-darker);
}

.switch--on-hover {
	background-color: var(--color-accent-even-darker);
}
